html,body{
	font-family: 'Sarabun', sans-serif;
  	background: url(../images/bg.png) center/cover;
    background-attachment: fixed;
}
.container{
	padding-top: 20px; 
	border-radius:10px;
}
.link a{
	text-decoration: none;
}
.content{
	font-size: 16px;
}